node_modules
dist
.next
coverage
*.log
.env
.env.local
.env.*.local
.git
.gitignore
.vscode
.idea
*.md
setup.sh
.cache
.nyc_output
*.test.ts
*.spec.ts
e2e
test
tests
__tests__
__mocks__
*.map
prisma/generated
lib
*.local
*.local.*
.DS_Store
Thumbs.db
*.tgz
tmp
temp
*.tmp
*.temp
.ngrok
.eslintcache
.stylelintcache
.prettierrc
.editorconfig
.lintstagedrc*
.husky
.nvmrc
.npm
.yarn
.yarnrc
.node_repl_history
.eslintignore
.stylelintignore
.prettierignore
jest.config.*
jest.setup.*
test.config.*
cypress
cypress.config.*
playwright
playwright.config.*
*.stories.*
.storybook
storybook-static
.nx
.vercel
.netlify
